body{
 background-color:hsl(212, 45%, 89%) ;   
}

.card{
    height:46vh ;
    width:15.7vw ;
background-color: white;
position:relative;
left:30vw;
right: ;
top: ;
bottom: ;
}
.foto{
    height:15vw;
  
position: relative;
padding: 6px;
right:;
top:1vh ;
bottom:1vh ;

}